{% extends "base.html" %}
{% load i18n %}

{% block title %}{% endblock %}

{% block content %}
    <div class="content-header">
            <a class="pathlink homepathlink" href="/">{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}首页{% else %}Home{% endif %}</a>
            {% if request.GET.q %}
            <a class="pathlink">></a>
            <a class="pathlink subpathlink">{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}搜索结果{% else %}Search Result{% endif %}</a>
            {% endif %}
            <a class="createintagbtn" href="/i/create/">{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}发布信息{% else %}New Post{% endif %}</a>
    </div>
    <div class="content home">
        <div class="items">
        {% for item in items %}
            {% include "item/itemline.html" %}
        {% endfor %}
        {% if pitems.paginator.num_pages > 1 %}
        <div class="pagination">
            <span class="step-links">
                {% if pitems.has_previous %}
                    <a class="previous-page" href="?page={{ pitems.previous_page_number }}">{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}上一页{% else %}Previous{% endif %}</a>
                {% endif %}

                <span class="current">
                    {{ pitems.number }} / {{ pitems.paginator.num_pages }}
                </span>

                {% if pitems.has_next %}
                    <a class="next-page" href="?page={{ pitems.next_page_number }}">{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}下一页{% else %}Next{% endif %}</a>
                {% elif request.user.id == 1 and bluemix %}<!--for Zhihu-->
                    {% if request.GET.page %}
                        <a class="next-page" href="?page={{ request.GET.page|add:1 }}">{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}下一页{% else %}Next{% endif %}</a>
                    {% else %}
                        <a class="next-page" href="?page=2">{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}下一页{% else %}Next{% endif %}</a>
                    {% endif %}<!--for Zhihu-->
                {% endif %}
            </span>
        </div>
        {% elif request.user.id == 1 and bluemix %}<!--for Zhihu-->
        <div class="pagination">
            <span class="step-links">
                <span class="current"></span>
                {% if request.GET.page %}
                    <a class="next-page" href="?page={{ request.GET.page|add:1 }}">{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}下一页{% else %}Next{% endif %}</a>
                {% else %}
                    <a class="next-page" href="?page=2">{% if 'zh' in request.LANGUAGE_CODE or 'zh' in LANGUAGE_CODE %}下一页{% else %}Next{% endif %}</a>
                {% endif %}
            </span>
        </div><!--for Zhihu-->
        {% endif %}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="sidebar">
        {% include "widget/tag.html" %}
        {% include "widget/about.html" %}
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
